[submodule "2D-DWG-Drawing-Viewer"]
	path = 2D-DWG-Drawing-Viewer
	url = https://github.com/techsoft3d/2D-DWG-Drawing-Viewer
[submodule "mobile-aec-viewer"]
	path = mobile-aec-viewer
	url = https://github.com/techsoft3d/mobile-aec-viewer
